.list-group{
    align-content: left;
    text-align: left;
    top: 50%;
}
.container{
    width: 300px;
    padding: 10px;
    margin: auto;   
    clear: both;
}
.container ::before{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(177, 188, 199, 0.075);
    border-radius: 4px;
  }  
  